.overMain {
  padding: 40px 50px 10px 41px;
  width: 100%;
  height: 100%;
  background: #fafafa;
}
.overviewCont {
  height: 100%;
  width: 100%;
  justify-content: center;
  overflow-y: scroll;
}
.overviewCont::-webkit-scrollbar {
  display: none;
}
.tempItem {
  /* border: solid 1px rebeccapurple; */
}
.courses-overview {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 35px;
  height: 100px;
  width: 100%;
  background: #07a098;
  border-radius: 10px;
  margin-bottom: 27px;
}
.contForWidth {
  width: 60%;
  justify-content: space-between;
  display: flex;
}
.course-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  height: 74px;
}
.course-item h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  height: 27px;
}
.course-item h2 {
  width: 37px;
  height: 45px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

/* SECOND SECTION */
.secondSect {
  width: 100%;
  height: 440px;
  background: #ffffff;
  /* background:rebeccapurple; */
  border-radius: 15px;
  margin-bottom: 28px;
  display: flex;
  justify-content: space-between;
  padding: 29px 35px 49px;
}
.sect1 {
  width: 75%;
  display: flex;
  /* display: none; */
  flex-direction: column;
  justify-content: space-between;
}

.sectDetails {
  display: flex;
  justify-content: space-between;
}
.sectDetails h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #07a098;
}
.sectDetails button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 15px 5px 20px;
  width: 117px;
  height: 34px;
  background: rgba(144, 215, 255, 0.1);
  border-radius: 30px;
  color: #07a098;
  font-style: normal;
  font-weight: normal;
  font-size: 13.19px;
  line-height: 20px;
}
.zoomBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 9px 12px;
  width: 83px;
  height: 34px;
  background: rgba(144, 215, 255, 0.1);
  border-radius: 44px;
  color: #07a098;
  font-size: 20px;
}
.sect2 {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  border-left: 2px solid #07a098;
  padding-left: 43px;
}
.postTypes {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 15px;
}

.postTypes label {
  font-style: normal;
  font-weight: normal;
  font-size: 13.19px;
  line-height: 20px;
  color: #686868;
}
.postTypes input[type="radio"] {
  margin-right: 10px;
  box-sizing: border-box;
  appearance: none;
  background: white;
  outline: 1px solid #07a098;
  width: 12px;
  height: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 2px;
}
.postTypes input[type="radio"]:checked {
  background: #07a098;
}

/* THIRD SECTION */

.TopDisCont {
  height: 278px;
  width: 100%;
  display: flex;
  flex-direction: row;
  /* display: none; */
  justify-content: space-between;
}
.TopDis {
  width: 72%;
  /* padding: 16px 101px 16px 35px; */
  padding: 16px;
  background: #ffffff;
  border-radius: 15px;
}
.TopDisHeader {
  margin-bottom: 20px;
}
.TopDisFlex {
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgba(7, 160, 152, 0.05);
  align-items: flex-start;
  padding: 5px 0;
}
.TopDisFlex:last-child,
.TopDisFlex:first-child {
  border: none;
}

.subTopic {
  width: 40%;
  justify-self: flex-start;
}
.subTopic h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 13.19px;
  line-height: 20px;
  display: flex;
  align-items: flex-end;
  color: #07a098;
}

.first {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  color: #07a098;
  width: 40%;
}
.engcount {
  width: 15%;
  /* flex: 1; */
}
.last {
  width: 20%;
}
.engHeader {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #07a098;
}
.engText {
  font-style: normal;
  font-weight: normal;
  font-size: 13.19px;
  line-height: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #686868;
}

.EngRate {
  width: 25%;
  background-color: rgb(87, 51, 51);
  background: #ffffff;
  border-radius: 15px;
  padding: 13px 20px 0 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  /* height: 300px; */
}
.EngRate .header {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #07a098;
}

.EngRate .subHeader {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #686868;
}
.allEngItems {
  display: flex;
  flex-direction: column;
  margin: 20px 0 10px;
}
.engItem {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}
.engItem h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 13.19px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #686868;
  width: 85%;
}
.engItem h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 123%;
  display: flex;
  align-items: center;
  text-align: left;
  width: 10%;
  color: #686868;
}
.EngRate img {
  width: 50%;
}
.engChart{
  display: flex;
  justify-content: center;
  height: 80%;
 }
.chart{
  width:50%;
  height:50%;
}
.engBtn {
  position: absolute;
  left: 5px;
  top: 30px;
  bottom: 0;
  margin: auto;
  outline: none;
}

.right {
  right: 5px;
  position: absolute;
  top: 30px;
  bottom: 0;
  margin: auto;
  outline: none;
}
.engIcon {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 10px;
  color: #07a098;
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
}

@media (max-width: 1300px) {
  .engHeader,
  .first,
  .last,
  .subTopic {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .contForWidth {
    width: 80%;
  }
  .engHeader,
  .first,
  .last,
  .subTopic {
    font-size: 13px;
  }
  .TopDisCont {
    height: 280px;
  }
}
@media (max-width: 815px) {
  .courses-overview {
    padding: 20px 16px;
  }
  .course-item h4 {
    font-size: 16px;
  }
  .course-item h2 {
    font-size: 25px;
  }
  .overMain {
    padding: 20px;
  }
  .contForWidth {
    width: 80%;
  }
  .allEngItems {
    width: 60%;
  }
  .secondSect {
    height: auto;
    flex-direction: column;
    padding: 20px 16px;
  }
  .sect1 {
    width: 100%;
  }
  .sect2 {
    width: 100%;
    flex-direction: row;
    border: none;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
    margin-top: 30px;
  }
  .engHeader,
  .first,
  .last,
  .subTopic,
  .engItem h2,
  .engItem h4 {
    font-size: 14px;
  }
  .TopDisCont {
    /* border: 2px solid; */
    flex-direction: column;
    height: auto;
    row-gap: 30px;
  }
  .TopDis {
    padding: 20px 16px;

    width: 100%;
  }
  .TopDis h3 {
    font-size: 16px;
  }
  .TopDiscusionText {
    width: 100%;
  }
  .TopDiscusionText h2 {
    font-size: 15px;
  }

  .EngRate {
    width: 100%;
  }

  .subHeader {
    font-size: 14px;
  }
}
@media (max-width: 620px) {
  .contForWidth {
    /* width: 90%; */
  }

  .sectDetails h3 {
    font-size: 16px;
  }
  .sectDetails button {
    width: auto;
    font-size: 12px;
  }
  .TopDis {
    padding: 10px 5px 10px 10px;
  }
  .TopDis h3 {
    font-size: 16px;
  }
  .TopDiscusionText h2 {
    font-size: 14px;
  }
  .TopDiscusionText h5 {
    font-size: 12px;
  }

  .EngRate h4 {
    font-size: 12px;
  }
  .EngRate img {
    width: 70%;
  }
  .first,
  .subTopic {
    width: 50%;
  }
  .engcount,
  .last {
    width: 12%;
    /* flex: 1; */
  }
  .subTopic h2,
  .subTopic h4 {
    font-size: 12px;
  }
}
@media (max-width: 560px) {
  .TopDisCont {
    flex-direction: column;
    gap: 30px;
  }

  .contForWidth {
    width: 100%;
    align-items: center;
  }
  .course-item h4 {
    font-size: 14px;
  }
  .course-item h2 {
    font-size: 20px;
  }
  .TopDis {
    width: 100%;
  }
  .allEngItems {
    width: 100%;
  }
  .EngRate {
    width: 100%;
  }
  .EngRate img {
    width: 30%;
  }
}
@media (max-width: 400px) {
  .postTypes {
    /* border: 2px solid; */
    justify-content: space-between;
  }
  .postTypes label {
    font-size: 12px;
  }
  .postTypes input[type="radio"] {
    width: 10px;
    height: 10px;
    margin-right: 5px;
  }
  .right {
    right: 2px;
  }
  .engIcon {
    height: 30px;
    width: 30px;
    padding: 5px;
  }
}
