.disMain {
  padding: 45px 50px 10px 50px;
  width: 100%;
  height: 100%;
  background: #fafafa;
  position: relative;
}
.disCont {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}
.discBtnCont {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.discBtn {
  width: 293.43px;
  height: 48px;
  background: #07a098;
  border-radius: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
  position: relative;
}
.discBtn .icn {
  width: 24px;
  height: 24px;
}

.filterAndsort {
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #686868;
  margin-right: 43px;
}

/* Text body gray */

.topIcon {
  width: 24px;
  height: 24px;
  color: #07a098;
  margin-right: 10px;
}
.allDisCont {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  /* align-items: center; */
  /* position: relative; */
  column-gap: 20px;
  row-gap: 20px;
  height: 100%;
}
.allDisCont::-webkit-scrollbar {
  display: none;
}
.noMessage {
  font-style: normal;
  font-weight: normal;
  font-size: 13.19px;
  line-height: 20px;
  display: flex;
  /* display: none; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #939393;
  /* position: absolute; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.noMessage img {
  width: 128.6px;
  height: 128.6px;
  opacity: 0.2;
  margin-bottom: 28px;
}
.discBox {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 18px 8px 15px;
  /* border: 3px solid white; */
  width: 319px;
  flex-basis: 319px;
  height: 159px;
  background: #ffffff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}

.boxHead {
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 0 5px 0;
  border-bottom: 2px solid rgba(144, 215, 255, 0.3);
}
.editBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 14px 15px;
  position: absolute;
  right: -110px;
  top: 0;
  bottom: 0;
  z-index: 50;
  width: 120px;
  height: 115px;
  background: #fcfcfc;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  margin: auto;
}
.editBox span {
  flex: 1;
  width: 100%;
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #686868;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* padding: 4px 0px; */
  border-bottom: 2px solid #bdbdbd;
  /* margin: 8px 0px; */
}
.boxDetail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.boxDetailTitle,
.boxDetailTitleSet {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 123%;
  display: flex;
  align-items: center;
  color: #011b25;
  width: 70%;
}
.boxDetailTitleSet {
  color: #07a098;
}
.box-1 {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  line-height: 21px;
  color: #686868;
}

.box-2 {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: space-between;
}

.box-2 h5 {
  margin-left: 2px;
  font-size: 14px;
}
.boxfooter {
  display: flex;
  justify-content: space-between;
}

.boxfooter h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #686868;
}
.boxfooter button {
  font-style: normal;
  font-weight: normal;
  font-size: 13.19px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #07a098;
  background: #f0f0f0;
  border-radius: 30px;
  padding: 7px 25px;
}
.disSetNumber {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #bdbdbd;
}
/*/////////////////// CREATE NEW DISCUSSION//////////////// */
.createNewDis {
  /* width: 100%; */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgb(1, 27, 37, 0.95);
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* animation: showModal 1s; */
}
/* @keyframes showModal {
  from {
    left: -100%;
  }
  to{left:0;}
} */
.createCont {
  padding: 20px 110px 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.closeCont {
  position: absolute;
  right: 51px;
  top: 60px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.closeCont img {
  margin-right: 10px;
}
.setTitleBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 10px 10px 20px;
  width: 646px;
  height: 49px;
  background: #fafafa;
  border-radius: 10px;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 123%;
  color: #bdbdbd;
}
.allBoxes {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
}
.newBox {
  width: 312px;
  height: 200px;
  background: #ffffff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  padding: 20px 25px;
}
.newBox-header {
  display: flex;
}
.newBox-button {
  width: 193px;
  height: 30px;
  color: #07a098;
  font-style: normal;
  font-weight: normal;
  font-size: 13.19px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #f0f0f0;
  border-radius: 30px;
  padding: 5px 20px;
}
.newBox-icons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.new-icon {
   margin-left: 5px;
  height: 20px;
}
.newBox-textarea {
  width: 100%;
  margin-top: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 123%;
  color: #011b25;
  outline: none;
  height: 70%;
  padding-right: 50px;
  resize: none;
}
.newBox-textarea::-webkit-scrollbar {
  display: none;
}
.lastBox {
  display: flex;
  position: relative;
}

.actionsCont {
  flex-direction: column;
  row-gap: 15px;
  margin-left: 20px;
  padding-top: 15px;
  position: absolute;
  right: -110px;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 30;
}
.addBtn {
  background: #f9f9f9;
  color: #a2acb2;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  padding: 5px;
}
.creBtn {
  font-style: normal;
  font-weight: normal;
  font-size: 13.19px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #9d9d9d;
  background: #f9f9f9;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px 25px;
}
/*  */
@media (max-width: 1064px) {
  .discBox {
    width: 290px;
  }
  .disMain {
    padding: 45px 25px 10px 25px;
  }
  .boxDetail h2 {
    font-size: 18px;
  }
  .discBox {
    width: 325px;
  }
  .box-1 {
    font-size: 12px;
  }
}
@media (max-width: 1000px) {
  .disMain {
    padding: 45px 15px 10px;
  }
  .discBox {
    width: 285px;
  }
  .disMain {
    /* height:100% ; */
  }
}
@media (max-width: 815px) {
  .disMain {
    /* height: auto; */
  }
  .allDisCont {
    column-gap: 5px;
    justify-content: space-between;
  }
  .closeCont {
    right: 20px;
    top: 30px;
    font-size: 12px;
  }
  .closeCont img {
    width: 20px;
  }
  .createNewDis {
    justify-content: flex-start;
    top: 100px;
    padding-top: 100px;
  }
}
@media (max-width: 620px) {
  .allDisCont {
    justify-content: center;
  }
  .disMain {
    padding: 20px 15px 10px;
  }
  .discBox {
    width: 80%;
    height: 205px;
  }
  .discBtnCont {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .discBtn {
    font-size: 12px;
  }
  .filterAndsort {
    font-size: 10px;
    width: auto;
    margin-right: 10px;
  }
}
@media (max-width: 415px) {
  .discBox {
    width: 100%;
    height: 205px;
  }
}
