.setMain {
  padding: 42px;
  width: 100%;
  height: 100%;
  position: relative;
}
.setCont {
  /* height: 100%; */
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.settingHeader {
  display: flex;
  flex-direction: row;
  /*align-items: flex-start;*/
  justify-content: space-between;
  padding: 0px;
  width: 701px;
  height: 30px;
  flex: none;
  margin-bottom: 40px;
}
.settingHeader button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  width: 164px;
  height: 35px;
  /* background: #f9f9f9; */
  border-radius: 30px;
  flex: none;
  order: 1;
  flex-grow: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 13.19px;
  line-height: 20px;
  text-align: center;
  /* color: #686868; */
}
@media (max-width: 815px) {
  .setMain {
    padding: 30px;
  }
  .setCont {
  }
  .settingHeader {
    width: 100%;
    height: auto;
    /* display: none; */
  }
  .settingHeader button {
    /* width: 23%; */
    width: auto;
    flex: 1;
    gap: 30px;
    margin-right: 3px;
  }
}
@media (max-width: 450px) {
.setMain{
  width: 100%;
  padding: 20px;
}
.settingHeader  button{
  flex: 1;
  font-size: 12px;
  padding:5px;

}
}
