.contactMain {
  padding: 45px 50px 10px 50px;
  width: 100%;
  height: 100%;
  background: #ffffff;
  position: relative;
}
.contactForWidth {
  width: 60%;
}
.contactCont {
  width: 80%;
  padding-right: 10px;
  margin-bottom: 70px;
}
.contactCont h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #07a098;
  margin-bottom: 15px;
}
.contactCont h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #686868;
}
.contactBoxCont {
  /* margin-bottom: 40px; */
  flex: 1;
  position: relative;
  width: auto;
}
.contactBox {
  display: flex;
  padding: 2px 0;
  height: auto;
  align-items: center;
  margin-bottom: 10px;
  width: auto;
}
.contactBox label,
.contactBoxText label {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #686868;
  width: 250px;
  /* border: rebeccapurple 2px solid; */
}
.contactBox input {
  padding: 2px 2px 2px 15px;
  width: 414px;
  height: 40px;
  border: 2px solid rgba(31, 196, 255, 0.12);
  box-sizing: border-box;
  border-radius: 6px;
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 137.15%;
  display: flex;
  align-items: center;
  color: #6d7d8b;
}
.contactBoxText {
  display: flex;
  padding: 2px 0;
  height: auto;
  align-items: flex-start;
  margin-bottom: 10px;
  width: auto;
}
.contactBoxText textarea {
  padding: 2px 2px 2px 15px;
  width: 415px;
  height: 158px;
  border: 2px solid rgba(31, 196, 255, 0.12);
  box-sizing: border-box;
  border-radius: 6px;
  outline: none;
  font-size: 16px;
  line-height: 137.15%;
  display: flex;
  align-items: center;
  color: #6d7d8b;
  margin-bottom: 20px;
}
.contactBtnCont {
  display: flex;
  /* display: none; */
  justify-content: flex-end;
  /* margin-bottom: 100px; */
  position: absolute;
  right: 10px;
}
.contactBtn {
  padding: 7px 25px;
  width: 146px;
  height: 34px;
  background: #0eb4f6;
  border-radius: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 13.19px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin-right: 20px;
}
@media (max-width: 1440px) {
  .contactCont {
    width: 100%;
  }
  .contactForWidth {
    width: 80%;
  }
}
@media (max-width: 1024px) {
  .contactForWidth {
    width: 85%;
  }
}
@media (max-width: 1000px) {
  .contactCont h3 {
    display: none;
  }
}
@media (max-width: 815px) {
  .contactForWidth {
    width: 100%;
  }
  .contactCont h4 {
    font-size: 16px;
  }
  .contactBox label,
  .contactBoxText label {
    font-size: 16px;
    width: 200px;
  }
  .contactBox input,
  .contactBoxText textarea {
    font-size: 14px;
  }
}

@media (max-width: 620px) {
  .contactMain {
    padding: 25px;
  }
}
@media (max-width: 450px) {
  .contactMain {
    padding: 30px;
  }
  .contactCont {
    margin-bottom: 30px;
    padding-right: 0;
  }
  .contactBox,
  .contactBoxText {
    flex-direction: column;
  }
  .contactBox label,
  .contactBoxText label {
    width: 100%;
  }
  .contactBox input,
  .contactBoxText textarea {
    width: 100%;
  }
  .contactBtnCont {
    right: 0;
  }
  .contactBtn{
    margin-right: 5px;
  }
}
@media (max-width: 350px) {
  .contactMain {
    padding: 25px;
  }
  .contactCont h4 {
    font-size: 14px;
  }
  .contactBox label,
  .contactBoxText label {
    font-size: 14px;
  }
  .contactBox input,
  .contactBoxText textarea {
    font-size: 14px;
  }
}
