.disMain {
  padding: 45px 50px 10px 50px;
  width: 100%;
  height: 100%;
  background: #fafafa;
  position: relative;
}
.disCont {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.discBtnCont {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.discBtn {
  width: 293.43px;
  height: 48px;
  background: #07a098;
  border-radius: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
  position: relative;
}
.discBtn .icn {
  width: 24px;
  height: 24px;
}

.filterAndsort {
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #686868;
  margin-right: 43px;
}

/* Text body gray */

.topIcon {
  width: 24px;
  height: 24px;
  color: #07a098;
  margin-right: 14px;
}
.allDisCont {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  /* row-gap: 30px; */
  column-gap: 30px;
height: 100%;
  justify-content: flex-start;
  align-items:flex-start;
  /* justify-content: space-evenly; */
  position: relative;
}
.allDisCont::-webkit-scrollbar {
  display: none;
}
.noMessage {
  font-style: normal;
  font-weight: normal;
  font-size: 13.19px;
  line-height: 20px;
  display: flex;
  /* display: none; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #939393;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.noMessage img {
  width: 128.6px;
  height: 128.6px;
  opacity: 0.2;
  margin-bottom: 28px;
}
.discBox {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 18px 8px 15px;
  border: 3px solid white;
  width: 319px;
  height: 159px;
  background: #ffffff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}

.boxHead {
  height:auto;
  display: flex;
  justify-content: space-between;
  padding:0 0 5px 0;
  border-bottom: 2px solid rgba(144, 215, 255, 0.3);

}
.editBox{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px 14px 15px;
position: absolute;
right:-110px;
top: 0;
bottom: 0;
z-index:50;
width: 120px;
height: 115px;
background: #FCFCFC;
box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.08);
border-radius: 8px;
margin: auto;
}
.editBox span{
  flex: 1;
  width: 100%;
  display: flex;
  font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
display: flex;
align-items: center;
color: #686868;
display: flex;
flex-direction: row;
align-items: center;
/* padding: 4px 0px; */
border-bottom: 2px solid #BDBDBD;;
/* margin: 8px 0px; */
}
.boxDetail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.boxDetailTitle , .boxDetailTitleSet{
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 123%;
  display: flex;
  align-items: center;
  color: #011b25;
  width: 70%;
}
.boxDetailTitleSet{
  color: #07a098;
}
.box-1 {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: 
  flex-start;
  font-size: 14px;
  line-height: 21px;
  color: #686868;
}

.box-2 {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content:space-between;
}
.boxfooter {
  display: flex;
  justify-content: space-between;
}

.boxfooter h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #686868;
}
.boxfooter button {
  font-style: normal;
  font-weight: normal;
  font-size: 13.19px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #07a098;
  background: #f0f0f0;
  border-radius: 30px;
  padding: 7px 25px;
}

.createNewDis {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px 14px;
  position: absolute;
  width: 293px;
  height: 126px;
  top: 60px;
  background: #ffffff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.08);
  flex: 1;
  border-radius: 8px;
}
.createNewDis .text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #686868;
  /* align-items: center; */
  padding-bottom: 10px;
  width: 100%;
  /* opacity: 0.3; */
border-bottom: 2px solid rgba(0, 30, 47, 0.4)

}
.createNewDis .ic {
  width: 16px;
  height: 16px;
  color: #07a098;
  margin-right: 12px;

}
.underText{
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  color: #07a098;
  width: 100%;
  flex: 1;

}
.underText .ic{
  opacity: 0;
}

.disSetNumber{
  font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
display: flex;
align-items: center;
color: #BDBDBD;

}
/*  */
@media (max-width: 1064px) {
  .discBox {
    width: 290px;
  }
  .disMain {
    padding: 45px 25px 10px 25px;
  }
  .boxDetail h2 {
    font-size: 18px;
  }
  .discBox {
    width: 325px;
  }
  .box-1 {
    font-size: 12px;
  }
}
@media (max-width: 1000px) {
  .disMain {
    padding: 45px 15px 10px;
  }
  .discBox {
    width: 285px;
  }
  .disMain {
    /* height:100% ; */
  }
 
}
@media (max-width: 815px) {
  .disMain {
    /* height: auto; */
  }
  .allDisCont {
    column-gap: 5px;
  }
}
@media (max-width: 620px) {
  .allDisCont {
    justify-content: center;
  }
  .disMain {
    padding: 20px 15px 10px;
  }
  .discBox {
    width: 80%;
    height: 205px;
  }
}
@media (max-width: 415px) {
  .discBox {
    width: 100%;
    height: 205px;
  }
}
