/* HEADER STYLING */
.headerCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0;
  height: 70px;
  width: 100%;
  padding-left: 18px;
}
.imgCont {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 30%;
}
.logo {
  height: 100%;
  width: auto;
}
.buttonCont {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 80%;
}

.headerBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  width: 160px;
  height: 44px;
  border: 2px solid #0eb4f6;
  box-sizing: border-box;
  border-radius: 30px;
  margin-right: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #07a098;
}

@media (max-width: 820px) {
  .logo {
    height: 100%;
  }
  .headerCont {
    height: 60px;
  }
  .headerBtn {
    padding: 5px 15px;
    width: 130px;
    height: 42px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #07a098;
  }
}

@media (max-width: 515px) {
  .headerBtn {
    padding: 5px 15px;
    width: 105px;
    height: 35px;
    font-size: 15px;
    line-height: 21px;
    margin-right:10px;
  }
  .logo{
    height: auto;
  }
}
@media (max-width: 350px) {
  .imgCont {
    width: 35%;
  }
  .logo {
    height: auto;
    width: 80%;
  }

  .headerBtn {
    padding: 5px 15px;
    width: 90px;
    height: 31px;
    font-size: 14px;
    line-height: 21px;
    margin-right: 10px;
  }
  .headerBtn2{
    margin-right:15px;
  }
}
/* 
git remote add second https://github.com/The-olajumoke/ibnsoFrontend.git
git branch -M main
git push -u origin main */
