.overlay {
  height:auto;
  padding: 0 50px 10px;
}
.overlay::after {
  background-color: white;
  /* background-color: rebeccapurple; */
  opacity: 0.8;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  height:1035px;
}
.main-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 600;
  width: 100%;
  height: 100%;
}
.topControl{
  display:none;
}
.sub-container {
  height: 648px;
    width: 900px;
   box-shadow: 1px 2px 5px rgba(10, 10, 10, 0.05);
  border-radius: 20px;
  position: relative;
  background: transparent;
  display: flex;
  z-index: 900;

}
.left-container {
  width: 42%;
  height: inherit;
  padding: 34px 25px 128px 49px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 700;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.right-container {
  width: 58%;
  height: 100%;
  display: flex;
  justify-content: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 0 auto;
  z-index: 800;
  background-color: #FFF;

}
.title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}
.largeText {
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 75px;
  display: flex;
  align-items: center;
  padding-right:43px;
  width: 100%;
}
.extraText {
  height: 60px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  align-items: center;
  padding-right: 20px;
}

@media (max-width: 1284px) {
  .sub-container {
    height: 640px;
    width: 830px;
  }
  .left-container {
    width: 40%;
    padding: 34px 25px 128px 30px;
  }
  .right-container {
    width: 60%;
  }
  .largeText {
    padding-right: 10px;
  }
  .title {
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  .sub-container {
    height: 620px;
    width: 85vw;
  }

  .left-container {
    width: 40%;
    padding: 34px 30px 128px 35px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .right-container {
    width: 60%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0 20px;
  }
  .title {
    font-size: 20px;
  }
  .largeText {
    padding-right:20px;
    font-size: 45px;
  }
  .extraText {
    width: 100%;
    font-size: 14px;
  }
}
@media (max-width:850px) {
  .largeText{
    padding-right: 5px;
    font-size: 40px;
  }
  
}
@media (max-width: 815px) {
  .overlay::after {
    opacity: 1;
  }

  .sub-container {
    flex-direction: column;
    height:100vh;
    border-radius: 0;
    display: flex;
    align-items: center;
    scrollbar-width: none;
    -ms-overflow-style: none;
    box-shadow: none;
  }
  .sub-container::-webkit-scrollbar {
    display: none;
  }
    
  .topControl{
  display:flex;
  z-index: 900;
}
  .left-container {
    height: 280px;
    border-radius: 20px;
    margin: 0 40px;
    width: 100%;
    align-items: center;
    padding: 30px 11px 30px 35px;
  }
  .right-container {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .title {
    display: none;
  }
  .largeText {
    font-size: 40px;
    line-height: 55px;
    padding-right: 115px;
    margin-left: 0;
    width: 100%;
  }
  .extraText {
    width: 100%;
    font-size: 14px;
  }
}
@media (max-width: 575px) {
  .largeText {
    font-size: 36px;
    line-height: 50px;
  }
  .extraText {
    font-size: 12px;
  }
  .right-container {
    padding: 0;
  }
   .left-container {
    height: 250px;
    border-radius: 20px;
    margin: 0 40px;
    width: 100%;
    align-items: center;
    padding: 30px 11px 30px 35px;
  }
}
@media (max-width: 515px) {
 
  .sub-container {
    width: 90vw;
    border-radius: 0;
    margin: 0;
  }
  .left-container {
    margin: 0;
    border-radius: 8px;
    width: 100%;
    height: 200px;
    padding: 25px 40px 20px 30px;
  }
  .largeText {
    font-size: 30px;
    height: 90px;
    line-height: 45px;
    padding-right: 0;
    padding-right: 40px;
  }
  .extraText {
    font-size: 12px;
    margin-top: 15px;
    width: 100%;
    line-height: 18px;
  }
}
@media (max-width: 350px) {
  .largeText {
    font-size: 25px;
    height: 90px;
    line-height: 38px;
    padding-right: 20px;
  }
  .extraText {
    font-size: 12px;
    margin-top: 3px;
    width: 100%;
    line-height: 18px;
  }
  .left-container {
    margin: 0;
    border-radius: 8px;
    width: 100%;
    height: auto;
    padding: 10px 40px 0px 30px;
  }
}


