.viewDisCont {
  /* padding: 45px 50px 10px 50px; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* border: orangered 2px solid; */
}
.viewHeading {
  height: 50px;
  padding: 0 45px;
  background: #fafafa;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.viewHeadText {
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #686868;
}
.viewIcon {
  height: 20px;
  width: 20px;
  color: #07a098;
  margin-right: 10px;
}
.viewButton {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.viewButton button {
  width: 114px;
  height: 35px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #011b25;
  border: 2px solid #0eb4f6;
  box-sizing: border-box;
  border-radius: 30px;
  /* padding: 7px 28px; */
}
.viewImg {
  display: flex;
  column-gap: 10px;
}
.viewImg img {
  width: 25px;
  height: 23px;
}
.DiscProp {
  background: #fafafa;
  height: 90px;
  padding: 10px 45px;
  margin-bottom: 20px;
}
.DiscProp .top {
  display: flex;
}
.DiscProp img,
.commentProp img {
  width: 40px;
  height: 40px;
  border-radius: 500px;
  margin-right: 10px;
}
.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.userDet {
  display: flex;
  align-items: center;
}
.mainName {
  color: #001e2f;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
}
.userName {
  margin-left: 5px;
  font-size: 12px;
  line-height: 18px;
}

.topRight {
  display: flex;
  align-items: center;
}
.topRight button {
  font-style: normal;
  font-weight: normal;
  font-size: 13.19px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #07a098;
  padding: 5px 20px;
  width: 160px;
  height: 30px;
  background: #f0f0f0;
  border-radius: 30px;
}
.topRightIcon {
  width: 20px;
  height: 20px;
  color: #9d9d9d;
  margin-left: 30px;
}
.viewMainText {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #686868;
}
/* COMMENTs */
.allCommentCont {
  flex: 1;
  overflow-y: scroll;
}
.allCommentCont::-webkit-scrollbar {
  display: none;
}
.commentProp {
  height: 117.86px;
  background: #ffffff;
  padding: 0 45px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.commentIconsCont {
  width: 40%;
  /* margin-top: 20px; */
}
.commentIconsCont div {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.commentIcons {
  width: 20px;
  height: 20px;
  margin-right: 7px;
}
.commentIconsCont h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #001e2f;
}
/* COMMENT BOX */
.commentBoxCont {
  padding: 0 45px;
  justify-self: flex-end;
  margin: 15px 0;
}
.commentBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 5px 0px 12px 20px;
  width: 100%;
  height: 122.3px;
  background: #ffffff;
  border: 1px solid #07a098;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #bdbdbd;
  border-radius: 8px;
}
.replyTo {
  font-size: 12px;
  line-height: 18px;
  color: #07a098;
}
.commentBox textarea {
  width: 100%;
  outline: none;
  resize: none;
}
.commentBox textarea:empty {
  color: #011b25;
}
.widgetCont {
  width: 100%;
  height: 34px;
  /* height: auto; */
  display: flex;
  justify-content: space-between;
}
.widget {
  display: flex;
  column-gap: 20px;
}

.commentBtnCont {
  display: flex;
  column-gap: 20px;
}
.commentBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  width: 112px;
  /* height: 34px; */
  background: #07a098;
  border-radius: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 13.19px;
  line-height: 20px;
  color: #ffffff;
}
.commentBtn:last-child {
  background: #f9f9f9;
  color: #9d9d9d;
}
@media (max-width: 900px) {
  .viewHeading {
    display: none;
  }
  .DiscProp,
  .commentProp {
    height: auto;
    padding: 0 15px;
  }
  .commentBoxCont {
    padding: 0 25px;
  }
}
@media (max-width: 620px) {
  .commentBoxCont {
    padding: 0;
  }
  .commentBox {
    height: 150px;
  }
  .commentBox textarea {
    flex: 1;
  }
  .widgetCont {
    flex-direction: column;
    height: auto;
  }
  .widget {
    /* column-gap: 2px; */
    flex: 1;
  }
  .commentBtnCont {
    justify-content: space-between;
    margin-top: 8px;
  }
  .topRight {
    display: none;
  }
}
